@import "_imports";

//***************************************   Styles
#title {
  a {
    @include header-logo;
    background-position: -98px -25px;
    font-size: 0;
    display: block;
    background-color: transparent;
    margin: auto;
  }
}

.expires-button {
  background-color: $green;
  color: $white;
  padding: 0.3rem 0.8rem;
  text-align: center;
  font-size: 0.8rem;
  float: right;
  line-height: 1.45rem;
  text-transform: uppercase;
  display: inline-block;

}

.expired {
  background-color: $orange !important;
}

$entry-title-font-size: 19px;
.entry-title {
  font-size: $entry-title-font-size;
  a {
    font-size: $entry-title-font-size;
    max-width: 575px;
    display: block;
  }
}

.post .attachment-thumbnail {
  float: left;
  margin: 0 1em 0em 0;
}

.entry-content {
  clear: both;
}

// Justify trick
.justified-list {
  list-style-type: none;
  text-align: justify;

  li, ol {
    display: inline;
  }
}
.stretch {
  display: inline-block !important;
  width: 100%;

  //IE6/7
  *display: inline;
  zoom: 1
}

// Social
#social {
  margin-top: 86px;
}

@mixin social-button {
  display: inline-block;
}
.social-email {
  @include social-button;
  @include social-mail-green;
}
.social-facebook {
  @include social-button;
  @include social-facebook-green;
}
.social-twitter {
  @include social-button;
  @include social-twitter-green;
}
.social-rss {
  @include social-button;
  @include social-rss-green;
}
.social-pinterest {
  @include social-button;
  @include social-pinterest-green;
}
.social-google {
  @include social-button;
  @include social-google-green;
}


// Ads, including Top Nav Banner
#subnav {
  background-color: transparent !important;
}
.subnav-left {
  padding: 0;
  height: 66px;
}
.subnav-left.widget-area {
  width: 100%;

  .widget {
    .textwidget {
      div {
        margin: auto;
      }
    }
  }
}
.textwidget {
  text-align: center;

  object, iframe {
    display: block;
    margin: auto;
  }

  #embed-widget {
    display: inline-block;
  }
}

.sidebar-button, .sidebar-button:visited, .sidebar-button:hover {
  @extend .expires-button;
  background-color: $green;
  display: block;
  color: $white;
  font-family: 'Oswald', 'sans-serif';
  font-size: 1rem;
  padding: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

// Sitcky Posts
.post {
  clear: both;

}

.sticky + .post {
  border-top: 1px solid $blue;
  padding-top: 2rem;
  position: relative;
  top: 1rem;
  margin-bottom: 2rem;

  &:before {
    content: "Latest Deals";
    display: block;


  }
}

.sticky {
  @include box-sizing;
  //background-color: rgba(25, 169, 144, 0.2); //green
  //background-color: rgba(241, 107, 47, 0.5); //orange
  background-color: rgba(254, 228, 144, 0.3); //yellow
  border: none !important;
  clear: none;
  height: 128px;
  padding: 16px !important;
  padding: 1rem !important;
  position: initial !important;
  margin: 0 !important;
  width: 50%;

  &:before {
    display: none !important;
  }

  &.even {
    clear: left;
    float: left;
  }

  &.odd {
    clear: right;
    float: right;
  }

  .entry-title a {
    max-width: 475px;
    max-height: 90px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .expires-button {
    display: none;
  }
}

// Background
body {
  background-image: $bees;
  background-size: 34%;
  @include ie-background-size;
}

// Banners
.banner {
  clear: both;
  color: $blue;
  overflow: hidden;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.banner-headline {
  display: inline-block;
  font-family: Oswald;
  font-size: 19px;
  font-size: 1.2rem;

}

.sticky-separator {
  margin-bottom: 3rem;
  position: relative;
  top: 2rem;
}

// Media
@media only screen and (max-width: 1024px) {
  .searchform {
    margin-bottom: 0 !important;
    width: 100% !important;
  }

  #social {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  #title {
    margin: 0 !important;

    a {
      background-size: 560px 400px !important;
      background-position: -90px -20px;
    }
  }


  .sticky {
    width: 100%;
  }
}