@import "_imports";

//***************************************   Styles
#title {
  a {
    @include header-logo;
    font-size: 0;
    display: block;
    background-color: transparent;
  }
}

.expires-button {
  background-color: $green;
  color: $white;
  padding: 0.3rem 0.8rem;
  text-align: center;
  font-size: 0.8rem;
  float: right;
  line-height: 1.45rem;
  text-transform: uppercase;
  display: inline-block;

}

.expired {
  background-color: $orange !important;
}

.entry-title {
  font-size: 1.5rem;
  a {
    font-size: 1.5rem;
  }
}

.post .attachment-thumbnail {
  float: left;
  margin: 0 1em 0em 0;
}

.entry-content {
  clear: both;
}

// Justify trick
.justified-list {
  list-style-type: none;
  text-align: justify;

  li, ol {
    display: inline;
  }
}
.stretch {
  display: inline-block !important;
  width: 100%;

  //IE6/7
  *display: inline;
  zoom: 1
}

// Social
#social {
  margin-top: 86px;
}

@mixin social-button {
  display: inline-block;
}
.social-email {
  @include social-button;
  @include social-mail-green;
}
.social-facebook {
  @include social-button;
  @include social-facebook-green;
}
.social-twitter {
  @include social-button;
  @include social-twitter-green;
}
.social-rss {
  @include social-button;
  @include social-rss-green;
}
.social-pinterest {
  @include social-button;
  @include social-pinterest-green;
}
.social-google {
  @include social-button;
  @include social-google-green;
}


// Ads, including Top Nav Banner
.subnav-left {
  padding: 0;
  height: 66px;
}
.subnav-left.widget-area {
  width: 100%;

  .widget {
    .textwidget {
      div {
        margin: auto;
      }
    }
  }
}
.textwidget {
  text-align: center;

  object, iframe {
    display: block;
    margin: auto;
  }

  #embed-widget {
    display: inline-block;
  }
}